<section class= "home_page_major_div" >
 <%= render 'layouts/flash'%>
  <div class='home_page_logo'>
    <h1 class='logo'>KeepTrack</h1>
  </div>
  <div class='home_page_links'>
    <%= link_to 'users/sign_in' do %>
      <button class='login'>LOG IN</button>
    <% end %>
    <%= link_to 'users/sign_up' do %>
      <button class='signup'>SIGN UP</button>
    <% end %>
  </div>
</section>
