$font_logo: 'Caveat', cursive;
$font_text: 'Outfit', sans-serif;
$blue_color: #3778c2;
$green_color: #5fb523;
$grey_color: #434b54;

.categories_section {
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.new_category_div a {
  color: white;
  text-decoration: none;
  font-family: $font_text;
  border: 3px solid white;
  border-radius: 5px;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: $green_color;
  transition: all 0.4s;
}

.categories_small_div .total {
  margin-right: 1rem;
  flex: 1.5;
}

.categories_major_div {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;

  a {
    text-decoration: none;
    font-family: $font_text;
    color: rgb(177, 177, 177);
    font-weight: bold;
    transition: all 0.4s;

    .total {
      color: black;
    }
  }

  a:hover {
    transform: scale(1.02);
  }
}

.categories_small_div {
  background-color: white;
  display: flex;
  margin: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  height: 5rem;

  img {
    flex: 1;
    height: 80%;
    width: 20%;
    margin-left: 1rem;
  }

  .name {
    flex: 2;
    margin: 0 0 2.5rem 1rem;
  }
}

.new_category_div {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green_color;
  height: 15vh;
  width: 100%;

  a:hover {
    background-color: #73d42d;
    box-shadow: 1px 1px 1px white;
    transform: scale(1.05);
  }
}

.category_total_div {
  background-color: white;
  border-bottom: 1px solid rgb(194, 194, 194);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: $font_text;
  color: $grey_color;

  h3 {
    margin: 0 0 0 1rem;
  }

  p {
    flex: 1.5;
    color: black;
    font-weight: bold;
    margin: 0 1rem 0 0;
  }

  img {
    flex: 1;
    height: 80px;
    width: 25%;
    margin-left: 0.5rem;
  }

  .name {
    flex: 2;
    margin: 0 0 2.5rem 1rem;
  }
}

.upload_div {
  display: flex;
  background-color: white;
  font-family: $font_text;
  font-weight: bold;
  color: rgb(214, 214, 214);

  .upload_label {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  .upload_input {
    margin-top: 1rem;
    border: none;
  }
}
